@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text-50: #ececf8;
        --text-100: #dadaf1;
        --text-200: #b4b4e4;
        --text-300: #8f8fd6;
        --text-400: #6969c9;
        --text-500: #4444bb;
        --text-600: #363696;
        --text-700: #292970;
        --text-800: #1b1b4b;
        --text-900: #0e0e25;
        --text-950: #070713;

        --background-50: #ececf8;
        --background-100: #dadaf1;
        --background-200: #b4b4e4;
        --background-300: #8f8fd6;
        --background-400: #6969c9;
        --background-500: #4444bb;
        --background-600: #363696;
        --background-700: #292970;
        --background-800: #1b1b4b;
        --background-900: #0e0e25;
        --background-950: #070713;

        --primary-50: #ececf9;
        --primary-100: #d8daf3;
        --primary-200: #b2b5e6;
        --primary-300: #8b8fda;
        --primary-400: #656acd;
        --primary-500: #3e45c1;
        --primary-600: #32379a;
        --primary-700: #252974;
        --primary-800: #191c4d;
        --primary-900: #0c0e27;
        --primary-950: #060713;

        --secondary-50: #ebecf9;
        --secondary-100: #d7d9f4;
        --secondary-200: #b0b3e8;
        --secondary-300: #888ddd;
        --secondary-400: #6167d1;
        --secondary-500: #3940c6;
        --secondary-600: #2e349e;
        --secondary-700: #222777;
        --secondary-800: #171a4f;
        --secondary-900: #0b0d28;
        --secondary-950: #060614;

        --accent-50: #ebecfa;
        --accent-100: #d7d8f4;
        --accent-200: #aeb1ea;
        --accent-300: #868bdf;
        --accent-400: #5e64d4;
        --accent-500: #363dc9;
        --accent-600: #2b31a1;
        --accent-700: #202579;
        --accent-800: #151851;
        --accent-900: #0b0c28;
        --accent-950: #050614;
    }
    .dark {
        --text-50: #070713;
        --text-100: #0e0e25;
        --text-200: #1b1b4b;
        --text-300: #292970;
        --text-400: #363696;
        --text-500: #4444bb;
        --text-600: #6969c9;
        --text-700: #8f8fd6;
        --text-800: #b4b4e4;
        --text-900: #dadaf1;
        --text-950: #ececf8;

        --background-50: #070713;
        --background-100: #0e0e25;
        --background-200: #1b1b4b;
        --background-300: #292970;
        --background-400: #363696;
        --background-500: #4444bb;
        --background-600: #6969c9;
        --background-700: #8f8fd6;
        --background-800: #b4b4e4;
        --background-900: #dadaf1;
        --background-950: #ececf8;

        --primary-50: #060713;
        --primary-100: #0c0e27;
        --primary-200: #191c4d;
        --primary-300: #252974;
        --primary-400: #32379a;
        --primary-500: #3e45c1;
        --primary-600: #656acd;
        --primary-700: #8b8fda;
        --primary-800: #b2b5e6;
        --primary-900: #d8daf3;
        --primary-950: #ececf9;

        --secondary-50: #060614;
        --secondary-100: #0b0c28;
        --secondary-200: #17194f;
        --secondary-300: #222577;
        --secondary-400: #2e329e;
        --secondary-500: #393ec6;
        --secondary-600: #6165d1;
        --secondary-700: #888bdd;
        --secondary-800: #b0b2e8;
        --secondary-900: #d7d8f4;
        --secondary-950: #ebecf9;

        --accent-50: #050614;
        --accent-100: #0b0c28;
        --accent-200: #151851;
        --accent-300: #202579;
        --accent-400: #2b31a1;
        --accent-500: #363dc9;
        --accent-600: #5e64d4;
        --accent-700: #868bdf;
        --accent-800: #aeb1ea;
        --accent-900: #d7d8f4;
        --accent-950: #ebecfa;
    }
}
